txtai
PyPDF2
streamlit
dotenv 
langchain.text_splitter
langchain.vectorstores
angchain.chains.question_answering
langchain.callbacks
langchain.vectorstores 
langchain.callbacks 
transformers 